*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}
.header{
    background-color: black;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding: 0 18%;

}
.logo{
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 50%;

}
.navbar i{
    color: white;
    display: none;
}
.banner{
    height: 25vh;
    margin-top: 1px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18%;
    font-size: 20px;
    font-weight: 500;
}
.quote{
    text-align: center;
    font-weight: 600;
    

}
.time{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    font-weight: 500;
    gap: 20px;
}
.time p{
    font-size: 8px;
    /* text-transform: uppercase; */
    opacity: 50%;
}
.time i{
    color: blue;
}
.content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding-left:  18%;
    padding-right: 18%;
    padding-top: 10vh;
    
}
.image{
    position: relative;
}
.phone-img{
    height: 24vw;
    /* background-color: white; */
    position: relative;
}
.content-text{
    text-align: center;
    /* justify-content: center;
    align-items: center; */
}
.heading{
    margin: 20px 0;
    font-size: 22px;
    text-transform: uppercase;
    opacity: 60%;
    font-weight: 400;
    width: fit-content;
}
.limited-time{
    margin: 20px 0;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    opacity: 70%;
}
.limited-time span{
    color: blue;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.input-box{
    width: 15vw;
    height: 30px;
    font-size: 10px;
    padding-left: 10%;
    border: none;
    background-color: rgba(193, 181, 181, 0.773);
}
.submit-btn{
    height: 30px;
    width: 8vw;
    padding: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-size: .5rem;
    font-weight: 500;
}
.discount{
    height: 8vh;
    position: absolute;
    top: 2%;
    right: 10%;
}
.c1{
    display: flex;
}
.c2{
    display: flex;
}
.specs-table{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
}
.property{
    width: 25vw;
    padding: 10px 10px;
    border-right: solid rgb(118, 112, 112) 1px;
    border-bottom: solid rgb(118, 112, 112) 1px;
    border-top: solid rgb(118, 112, 112) 1px;
    border-left: solid rgb(118, 112, 112) 1px;
}
.spec1line{
    font-weight: bolder;
    font-size: small;
}
.spec2line{
    font-size: x-small;
    font-weight: bold;
    opacity: 60%;
    padding-top: 4px;

}
.design-banner{
    height: 20vh;
    background-color: rgba(11, 45, 146, 0.981);
    margin-top: 10vh;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.page2{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.p2l1{
    font-weight: bold;
    font-size: 2.5vw;
}
.p2l2{
    padding-top: 2%;
    font-size: 1.5vw;
    text-align: center;
}
.page2 img{
    height: 60vh;
    margin-top: 10vh;
}
.specimg{
 margin-top: 10%;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0 18%;
}
.row1{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row2{
    display: flex;
    /* align-items: center; */
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.specimg1{
    width: 20vmax;
}
.specimg2{
    width: 20vmax;
}
.specimgtxt{
    padding: 5% 5%;
    width: 30vmax;
}
.specimgtxt1{
    padding-top: 10%;
    text-align: left;
    font-weight: bold;
    opacity: 60%;
}
.specimgtxt2{
    padding-top: 5%;
    text-align: left;
    font-size: smaller;
    opacity: 50%;
}
.pmodes{
    margin: 5%;
    font-size: 3rem;
    font-weight: bold;
    opacity: 50%;
}
.lastsection{
    margin-top: 10%;
    text-align: center;
    font-weight: bolder;
}
.lastspec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.speclogo{
    height: 8vw;
}
.modetxt{
    margin-top: 5%;
    opacity: 60%;
    font-size: 1vw;
    position: relative;
    cursor: pointer;
}
.modetxt::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding-top: px; */
    width: 100%;
    height: 1.5px;
    background-color: rgba(55, 50, 50, 0.708);
    transform: scaleX(0);
    transition: 500ms;
}
.modetxt:hover::after{
    transform: scaleX(1);
}
.footer{
    margin-top: 10%;
    font-size: 1vmax;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 6vh;
    background-color: black;
    color: white;
}
.footer p{
    opacity: 50%;
}

@media (max-width:600px) {
    .header{
        padding: 2vw 10vw;
        width: 100%;
    }
    .navbar a{
        display: none;
    }
    .navbar i{
        display: block;
    }
    .banner{
        padding: 8vh 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
        width: 100%;

    }
    .content{
        flex-direction: column-reverse;

    }
    .image .phone-img{
        height: 45vh;
    }
    .content-text .heading{
        font-size: 6vw;
    }
    .content-text .email{
        flex-direction: column;
        
    }
    .email .input-box{
        width: 50vw;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .email .submit-btn{
        width: 20vw;
        border-radius: 5px;
    }
    .specs-table{
        flex-direction: column;
    }
    .c1{
        flex-direction: column;
    }
    .c2{
        flex-direction: column;
    }
    .property{
        width: 70vw;
        padding: 10px;
        margin-bottom: 20px;
    }
    .design-banner{
        height: 15vh;
    }
    .page2 .p2l1{
        font-size: 4vw;
    }
    .page2 .p2l2{
        font-size: 3vw;
        padding: 1vh 2vh;
    }
    .page2 .img2{
        height: 50vw;
    }
    .row1{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .specimg{
        margin-top: 10vmax;
    }
    .specimgtxt{
        width: 90vw;
    }
    .pmodes{
        font-size: 8vw;
    }
    .lastspec img{
        height: 19vw;
    }
    .modetxt{
        font-size: 2.5vw;
    }
}